.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.movie-name {
    font-size: 20px;
    margin-bottom: 10px;
}

.divider {
    margin-top: 10px;
    margin-bottom: 15px;
}

.movie-info {
    margin-bottom: 5px;
}

.update-btn, .delete-btn {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.update-btn {
    margin-right: 10px;
}

.delete-btn {
    background-color: #dc3545;
}
